<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya&family=Dancing+Script&family=Raleway:wght@300&family=Roboto+Slab:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="static/src/style.css" />
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <title>Weather App</title>
  </head>
  <body>
    <div class="container">
      <div class="weather-app-wrapper">
        <div class="buttons-group">
  {% if username %}
    <span class="welcome" style="font-size: 18px; font-weight: 500; margin-right: 10px; display: flex; align-items: center;">Hi, {{ username }}!</span>
    <a href="/logout" class="btn btn-outline-secondary ml-2">Exit</a>
  {% else %}
    <a href="/register" class="btn btn-outline-primary">Sign up</a>
    <a href="/login" class="btn btn-outline-secondary ml-2">Sign in</a>
  {% endif %}
  
  <button id="toggle-theme" class="btn btn-outline-secondary">Dark Mode</button>
  <button id="clear-history" class="btn btn-outline-secondary">Clean the history</button>
</div>
        <div id="error-message" style="color: red; display:none; font-size: 14px; margin-top: 5px;">We couldn't download the weather. Try again later.</div>
        <div class="weather-app">
          <form id="search-form" class="mb-3">
            <div class="row">
              <div class="col-2">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="current-location"
                >
                  Current
                </button>
              </div>
              <div class="col-8 position-relative" style="position: relative;">
                <input
                  type="search"
                  placeholder="Search for a city"
                  class="form-control"
                  autocomplete="off"
                  id="city-input"
                />
                <div id="search-history" class="search-history"></div>
              </div>
              <div class="col-2">
                <input type="submit" value="Search" class="btn btn-primary" />
              </div>
            </div>
          </form>
          <div class="overview">
            <h1 id="city">Odesa</h1>
            <ul>
              <li><span id="date"></span></li>
              <li id="description">Сlear</li>
            </ul>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="d-flex weather-temperature">
                <img src="" alt="Clear" id="icon" />
                <div class="float-left">
                  <strong id="temperature"></strong
                  ><span class="units"><a href="#" id="celsius-link" class="active">°C</a>|<a href="#" id="fahrenheit-link">°F</a></span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <ul>
                <li>Humidity: <span id="humidity"></span>%</li>
                <li>Wind: <span id="wind"></span> km/h</li>
              </ul>
            </div>
          </div>
          <div class="weather-forecast" id="forecast"></div>
        </div>
        <div class="footer">
          <small>
          <a
            href="https://github.com/vladagr-151107/vanilla-weather-app"
            target="_blank"
            >Open-source code</a
          >
          by
          <a
            href="https://www.linkedin.com/in/vlada-grushchenko-50a306252/"
            >Vlada Grushchenko</a
          >
        </small>
      </div>
    </div>
    <script src="static/src/java.js"></script>
  </body>
</html>
